<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Meadow Creek Tennis Club - Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/styles/vendor/bootstrap.min.css" />
    <!-- Fonts -->
    <link rel="stylesheet" href="assets/fonts/et-lineicons/css/style.css" />
    <link rel="stylesheet" href="assets/fonts/linea-font/css/linea-font.css" />
    <link
      rel="stylesheet"
      href="assets/fonts/fontawesome/css/font-awesome.min.css"
    />
    <!-- Slider -->
    <link rel="stylesheet" href="assets/styles/vendor/slick.css" />
    <!-- Lightbox -->
    <link rel="stylesheet" href="assets/styles/vendor/magnific-popup.css" />
    <!-- Animate.css -->
    <link rel="stylesheet" href="assets/styles/vendor/animate.css" />

    <!-- Definity CSS -->
    <link rel="stylesheet" href="assets/styles/main.css" />
    <link rel="stylesheet" href="assets/styles/responsive.css" />

    <!-- JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body id="page-top">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <!-- ========== Preloader ========== -->

    <div class="preloader">
      <img src="assets/images/loader.svg" alt="Loading..." />
    </div>

    <!-- ========== Navigation ========== -->

    <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Logo -->
          <a class="navbar-brand" href="index.html"
            ><img
              class="navbar-logo"
              src="assets/images/logo.png"
              alt="Definity - Logo"
          /></a>
        </div>
        <!-- / .navbar-header -->

        <!-- Navbar Links -->
        <div id="navbar" class="navbar-collapse collapse">
          <!-- Navbar Links Right -->
          <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="dropdown">
              <a href="#home">Home<span class="sr-only"></span></a>
            </li>

            <!-- About Us -->
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"
                data-delay="350"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >About Us<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">About Us</li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="pages/blog/blog-left-sidebar.html">Monthly News</a>
                </li>
                <li>
                  <a href="pages/blog/blog-right-sidebar.html">Membership</a>
                </li>
                <li><a href="pages/blog/blog-2col.html">Contact Us</a></li>
                <li><a href="pages/blog/blog-3col.html">Employment</a></li>
                <li>
                  <a href="pages/blog/blog-masonry-2col.html">Location</a>
                </li>
              </ul>
            </li>
            <!-- / About Us -->

            <!-- Our Team -->
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"
                data-delay="350"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Our Team<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Our Team</li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="pages/blog/blog-left-sidebar.html">Meet the Team</a>
                </li>
                <li>
                  <a href="pages/blog/blog-right-sidebar.html">Employment</a>
                </li>
              </ul>
            </li>
            <!-- / Our Team -->

            <!-- Tennis Programs -->
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"
                data-delay="350"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Tennis Programs<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Tennis Programs</li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="tennisPrograms/ladiesTennis.ejs">Ladies Tennis</a>
                </li>
                <li>
                  <a href="tennisPrograms/ladiesTennis.ejs">Men's Tennis</a>
                </li>
                <li>
                  <a href="tennisPrograms/ladiesTennis.ejs">Junior Tennis</a>
                </li>
                <li>
                  <a href="tennisPrograms/ladiesTennis.ejs">Tennis Drills</a>
                </li>
                <li>
                  <a href="tennisPrograms/ladiesTennis.ejs"
                    >Learn to Play Tennis</a
                  >
                </li>
              </ul>
            </li>
            <!-- / Tennis Programs -->

            <!-- Pickleball -->
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"
                data-delay="350"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Pickleball<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Pickleball</li>
                <li role="separator" class="divider"></li>
                <li><a href="pickleball/pickleball.ejs">Pickleball</a></li>
                <li><a href="pickleball/platform.ejs">Platform</a></li>
              </ul>
            </li>
            <!-- Pickleball -->

            <!-- Fitness -->
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"
                data-delay="350"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Fitness<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Fitness</li>
                <li role="separator" class="divider"></li>
                <li><a href="fitness/pickleball.ejs">Fitness Programs</a></li>
                <li><a href="fitness/pickleball.ejs">Silver Sneakers</a></li>
                <li><a href="fitness/pickleball.ejs">Massage and Spa</a></li>
              </ul>
            </li>
            <!-- Fitness -->

            <!-- Events -->
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"
                data-delay="350"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Events<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Events</li>
                <li role="separator" class="divider"></li>
                <li><a href="fitness/pickleball.ejs">Socials</a></li>
                <li><a href="fitness/pickleball.ejs">Tournaments</a></li>
              </ul>
            </li>
            <!-- Events -->
          </ul>
          <!-- / .nav .navbar-nav .navbar-right -->
        </div>
        <!--/.navbar-collapse -->
      </div>
      <!-- / .container -->
    </nav>
    <!-- / .navbar -->

    <!-- ========== Hero Cover ========== -->

    <div class="fs-slider-hero">
      <div class="fs-slider">
        <!-- Slide 1 -->
        <div class="fs-slider-item fs-slide-1 ourFacilitiesBG">
          <div class="bg-overlay">
            <!-- Hero Content -->
            <div class="hero-content-wrapper">
              <div class="hero-content">
                <h1 class="hero-lead">
                  Meadow Creek Tennis <br /><span>Denvers Finest</span>
                </h1>
              </div>
            </div>
          </div>
          <!-- / .bg-overlay -->
        </div>
        <!-- / .fs-slide-1 -->

        <!-- Slide 2 -->
        <div class="fs-slider-item fs-slide-2 learnToPlayBG">
          <div class="bg-overlay">
            <!-- Hero Content -->
            <div class="hero-content-wrapper">
              <div class="hero-content">
                <h1 class="hero-lead">
                  Learn<br />
                  From<br />
                  The Best
                </h1>
              </div>
            </div>
          </div>
          <!-- / .bg-overlay -->
        </div>
        <!-- / .fs-slide-2 -->

        <!-- Slide 3 -->
        <div class="fs-slider-item fs-slide-2 playGreatTennisBG">
          <div class="bg-overlay">
            <!-- Hero Content -->
            <div class="hero-content-wrapper">
              <div class="hero-content">
                <h1 class="hero-lead" style="text-align: right; padding-right: 10%">
                  Play <br />
                  Great<br />
                  Tennis
                </h1>
              </div>
            </div>
          </div>
          <!-- / .bg-overlay -->
        </div>
        <!-- / .fs-slide-3 -->

        <!-- Slide 4 -->
        <div class="fs-slider-item fs-slide-3 haveFunBG">
          <div class="bg-overlay">
            <!-- Hero Content -->
            <div class="hero-content-wrapper">
              <div class="hero-content">
                <h1 class="hero-lead"><span>Have</span> Fun</h1>

                <a href="#services" class="btn-light">Get Started</a>
              </div>
            </div>
          </div>
          <!-- / .bg-overlay -->
        </div>
        <!-- / .fs-slide-4 -->
      </div>
      <!-- / .fs-slider -->

      <!-- Scroller -->
      <a href="#services" class="scroller">
        <span class="scroller-text">scroll down</span>
        <span class="linea-basic-magic-mouse"></span>
      </a>
    </div>
    <!-- / .fs-slider-hero -->

    <!-- ========== Feature - Cards 2 ========== -->

    <div id="services" class="gray-bg">
      <section class="container section ft-cards-2">
        <header class="sec-heading">
          <h2>We have great facilities</h2>
          <span class="subheading"
            >With seven indoor, three outdoor, and 3 platform tennis courts you
            can always find a place to play.</span
          >
        </header>

        <div class="row">
          <div class="col-md-6">
            <!-- Item 1 -->
            <div class="ft-card-item wow fadeInUp" data-wow-duration="1.2s">
              <img
                src="../assets/images/indoorTennisCourts.jpg"
                alt="Feature Image"
              />
              <div class="ft-content">
                <h5>Seven Indoor Courts</h5>
                <p>Seven heated indoor courts with clean and new surfaces.</p>
                <a href="#" class="link-btn"
                  >Learn More <span class="linea-arrows-slim-right"></span
                ></a>
              </div>
            </div>
            <!-- / .ft-card-item -->

            <!-- Item 2 -->
            <div
              class="ft-card-item wow fadeInUp"
              data-wow-delay=".2s"
              data-wow-duration="1.2s"
            >
              <img
                src="../assets/images/twoPickleballCourts.jpg"
                alt="Feature Image"
              />
              <div class="ft-content">
                <h5>Two Pickleball Courts</h5>
                <p>
                  Two lighted outdoor pickleball courst great for all seasons.
                </p>
                <a href="#" class="link-btn"
                  >Learn More <span class="linea-arrows-slim-right"></span
                ></a>
              </div>
            </div>
            <!-- / .ft-card-item -->
          </div>
          <!-- / .col-md-6 -->

          <div class="col-md-6">
            <!-- Item 3 -->
            <div class="ft-card-item wow fadeInUp" data-wow-duration="1.2s">
              <img
                src="../assets/images/threeOutdoorCourts.jpg"
                alt="Feature Image"
              />
              <div class="ft-content">
                <h5>Three Outdoor Courts</h5>
                <p>Three outdoor courts right on site and freshly finished.</p>
                <a href="#" class="link-btn"
                  >Learn More <span class="linea-arrows-slim-right"></span
                ></a>
              </div>
            </div>
            <!-- / .ft-card-item -->

            <!-- Item 4 -->
            <div
              class="ft-card-item wow fadeInUp"
              data-wow-delay=".2s"
              data-wow-duration="1.2s"
            >
              <img
                src="../assets/images/fitnessCenter.jpg"
                alt="Feature Image"
              />
              <div class="ft-content">
                <h5>Fitness Center & More</h5>
                <p>
                  Meadow Creek also has a full gym, yogo studio and indoor spa
                  to workout at.
                </p>
                <a href="#" class="link-btn"
                  >Learn More <span class="linea-arrows-slim-right"></span
                ></a>
              </div>
            </div>
            <!-- / .ft-card-item -->
          </div>
          <!-- / .col-md-6 -->
        </div>
        <!-- / .row -->
      </section>
      <!-- / .container -->
    </div>
    <!-- / .gray-bg -->

    <!-- ========== Portfolio ========== -->

    <section class="container portfolio-layout portfolio-columns-boxed">
      <div class="row">
        <header class="sec-heading">
          <h2>Some of our services</h2>
          <span class="subheading">What we can offer you at Meadow Creek.</span>
        </header>
      </div>
      <!-- / .row -->

      <div class="row ws-m">
        <div id="pfolio">
          <!-- Item 1 -->
          <div class="col-md-4 portfolio-item print">
            <div class="p-wrapper hover-default">
              <img
                src="http://placehold.it/990x650"
                alt="Project Example"
              />
              <div class="p-hover">
                <div class="p-content">
                  <h4>Professional Coaching</h4>
                  <h6 class="subheading">
                    Professional coaching from some of the best pros in
                    colorado.
                  </h6>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="open-btn"
                ><i class="fa fa-expand"></i
              ></a>
            </div>
          </div>
          <!-- / .portfolio-item -->

          <!-- Item 2 -->
          <div class="col-md-4 portfolio-item webdesing photo">
            <div class="p-wrapper hover-default">
              <img src="http://placehold.it/990x650" alt="Project Example" />
              <div class="p-hover">
                <div class="p-content">
                  <h4>Tennis Drills</h4>
                  <h6 class="subheading">
                    Weekly drills to sharpen your skills with other players.
                  </h6>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="open-btn">
                <i class="fa fa-expand"></i>
              </a>
            </div>
          </div>
          <!-- / .portfolio-item -->

          <!-- Item 3 -->
          <div class="col-md-4 portfolio-item photo print">
            <div class="p-wrapper hover-default">
              <img
                src="http://placehold.it/990x650"
                alt="Project Example"
              />
              <div class="p-hover">
                <div class="p-content">
                  <h4>Tennis Leagues</h4>
                  <h6 class="subheading">
                    Leagues where everyone can get some match time.
                  </h6>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="open-btn"
                ><i class="fa fa-expand"></i
              ></a>
            </div>
          </div>
          <!-- / .portfolio-item -->

          <!-- Item 4 -->
          <div class="col-md-4 portfolio-item webdesing print">
            <div class="p-wrapper hover-default">
              <img src="http://placehold.it/990x650" alt="Project Example" />
              <div class="p-hover">
                <div class="p-content">
                  <h4>Fitness Classes</h4>
                  <h6 class="subheading">
                    Regular fitness classes hosted at our facilities.
                  </h6>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="open-btn"
                ><i class="fa fa-expand"></i
              ></a>
            </div>
          </div>
          <!-- / .portfolio-item -->

          <!-- Item 5 -->
          <div class="col-md-4 portfolio-item webdesing">
            <div class="p-wrapper hover-default">
              <img
                src="http://placehold.it/990x650/aaa/ccc"
                alt="Project Example"
              />
              <div class="p-hover">
                <div class="p-content">
                  <h4>Pickleball</h4>
                  <h6 class="subheading">
                    Learn to play platform tennis or pickleball.
                  </h6>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="open-btn"
                ><i class="fa fa-expand"></i
              ></a>
            </div>
          </div>
          <!-- / .portfolio-item -->

          <!-- Item 6 -->
          <div class="col-md-4 portfolio-item print webdesing photo">
            <div class="p-wrapper hover-default">
              <img src="http://placehold.it/990x650" alt="Project Example" />
              <div class="p-hover">
                <div class="p-content">
                  <h4>Much More</h4>
                  <h6 class="subheading">
                    At meadow creek we have a lot going on.
                  </h6>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="open-btn"
                ><i class="fa fa-expand"></i
              ></a>
            </div>
          </div>
          <!-- / .portfolio-item -->
        </div>
        <!-- / #pfolio -->
      </div>
      <!-- / .row -->
    </section>
    <!-- / .portfolio-columns-boxed -->

    <!-- ========== CTA - Contact Link ========== -->

    <div class="cta-link">
      <div class="bg-overlay">
        <div class="cta-wrapper">
          <h3
            class="h-alt wow fadeIn"
            data-wow-delay=".1s"
            data-wow-duration="1s"
          >
            Ready to get started?
          </h3>
          <a
            href="#contact"
            class="btn btn-light btn-large wow fadeIn"
            data-wow-delay=".3s"
            data-wow-duration="1s"
            >Get in touch</a
          >
        </div>
      </div>
    </div>
    <!-- / .dark-bg .cta-link -->

    <!-- ========== Testimonials ========== -->

    <div class="testimonials-parallax">
      <div class="bg-overlay">
        <div class="t-wrapper t-slider">
          <!-- Testimonial 1 -->
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip.
            <span class="et-quote t-type"></span>
            <footer>
              <cite>
                <h5 class="h-alt">Patrick Owens</h5>
                <h5>CEO - Company Name</h5>
              </cite>
            </footer>
          </blockquote>

          <!-- Testimonial 2 -->
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip.
            <span class="et-quote t-type"></span>
            <footer>
              <cite>
                <h5 class="h-alt">Patrick Owens</h5>
                <h5>CEO - Company Name</h5>
              </cite>
            </footer>
          </blockquote>

          <!-- Testimonial 3 -->
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip.
            <span class="et-quote t-type"></span>
            <footer>
              <cite>
                <h5 class="h-alt">Patrick Owens</h5>
                <h5>CEO - Company Name</h5>
              </cite>
            </footer>
          </blockquote>
        </div>
        <!-- / .t-wrapper -->

        <!-- Client Slider -->
        <ul class="t-clients clients-slider">
          <li>
            <a href="#"
              ><img
                src="assets/images/client-logo-placeholder.png"
                alt="Client"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/client-logo-placeholder.png"
                alt="Client"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/client-logo-placeholder.png"
                alt="Client"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/client-logo-placeholder.png"
                alt="Client"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/client-logo-placeholder.png"
                alt="Client"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="assets/images/client-logo-placeholder.png"
                alt="Client"
            /></a>
          </li>
        </ul>
        <!-- / .t-clients -->
      </div>
      <!-- / .bg-overlay -->
    </div>
    <!-- / .testimonials-parallax -->

    <!-- ========== Blog Preview ========== -->

    <div class="gray-bg">
      <section class="section container blog-columns blog-preview">
        <div class="row">
          <header class="sec-heading">
            <h2>Latest from our blog</h2>
            <span class="subheading"
              >Check out our blog to see what were up to</span
            >
          </header>

          <!-- Blog Post 1 -->
          <div class="col-lg-4 col-md-6 mb-sm-50">
            <div class="blog-post wow fadeIn" data-wow-duration="2s">
              <!-- Image -->
              <a href="pages/blog/blog-post.html" class="post-img"
                ><img src="http://placehold.it/990x715" alt="Blog Post 1"
              /></a>

              <div class="bp-content">
                <!-- Meta data -->
                <div class="post-meta">
                  <a href="#" class="post-date">
                    <i class="fa fa-calendar-o"></i>
                    <span>August 01.2015</span>
                  </a>
                  <a href="#" class="post-comments">
                    <i class="fa fa-comments-o"></i>
                    <span>12</span>
                  </a>
                </div>
                <!-- / .meta -->

                <!-- Post Title -->
                <a href="pages/blog/blog-post.html" class="post-title"
                  ><h4>Blog Post Title</h4></a
                >

                <!-- Blurb -->
                <p>
                  Lorem ipsum dolor sit amet, tempor consectetur adipisicing
                  elit, sed do eiusmod incididunt ut labore et dolore magna
                  aliqua. Ut enim ad ...
                </p>

                <!-- Link -->
                <a href="pages/blog/blog-post.html" class="btn btn-small"
                  >Read More</a
                >
              </div>
              <!-- / .bp-content -->
            </div>
            <!-- / .blog-post -->
          </div>
          <!-- / .col-lg-4 -->

          <!-- Blog Post 2 -->
          <div class="col-lg-4 col-md-6 mb-sm-50">
            <div
              class="blog-post wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".3s"
            >
              <!-- Image -->
              <a href="pages/blog/blog-post.html" class="post-img"
                ><img src="http://placehold.it/990x715" alt="Blog Post 1"
              /></a>

              <div class="bp-content">
                <!-- Meta data -->
                <div class="post-meta">
                  <a href="#" class="post-date">
                    <i class="fa fa-calendar-o"></i>
                    <span>August 01.2015</span>
                  </a>
                  <a href="#" class="post-comments">
                    <i class="fa fa-comments-o"></i>
                    <span>12</span>
                  </a>
                </div>
                <!-- / .meta -->

                <!-- Post Title -->
                <a href="pages/blog/blog-post.html" class="post-title"
                  ><h4>Blog Post Title</h4></a
                >

                <!-- Blurb -->
                <p>
                  Lorem ipsum dolor sit amet, tempor consectetur adipisicing
                  elit, sed do eiusmod incididunt ut labore et dolore magna
                  aliqua. Ut enim ad ...
                </p>

                <!-- Link -->
                <a href="pages/blog/blog-post.html" class="btn btn-small"
                  >Read More</a
                >
              </div>
              <!-- / .bp-content -->
            </div>
            <!-- / .blog-post -->
          </div>
          <!-- / .col-lg-4 -->

          <!-- Blog Post 3 -->
          <div class="col-lg-4 col-md-6">
            <div
              class="blog-post wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay=".6s"
            >
              <!-- Image -->
              <a href="pages/blog/blog-post.html" class="post-img"
                ><img src="http://placehold.it/990x715" alt="Blog Post 1"
              /></a>

              <div class="bp-content">
                <!-- Meta data -->
                <div class="post-meta">
                  <a href="#" class="post-date">
                    <i class="fa fa-calendar-o"></i>
                    <span>August 01.2015</span>
                  </a>
                  <a href="#" class="post-comments">
                    <i class="fa fa-comments-o"></i>
                    <span>12</span>
                  </a>
                </div>
                <!-- / .meta -->

                <!-- Post Title -->
                <a href="pages/blog/blog-post.html" class="post-title"
                  ><h4>Blog Post Title</h4></a
                >

                <!-- Blurb -->
                <p>
                  Lorem ipsum dolor sit amet, tempor consectetur adipisicing
                  elit, sed do eiusmod incididunt ut labore et dolore magna
                  aliqua. Ut enim ad ...
                </p>

                <!-- Link -->
                <a href="pages/blog/blog-post.html" class="btn btn-small"
                  >Read More</a
                >
              </div>
              <!-- / .bp-content -->
            </div>
            <!-- / .blog-post -->
          </div>
          <!-- / .col-lg-4 -->
        </div>
        <!-- / .row -->
      </section>
      <!-- / .container -->
    </div>
    <!-- / .gray-bg -->

    <!-- ========== CTA - Newsletter Signup ========== -->

    <div class="cta-newsletter">
      <div class="bg-overlay">
        <div class="cta-wrapper">
          <h3
            class="cta-lead h-alt wow fadeIn"
            data-wow-delay=".1s"
            data-wow-duration="1s"
          >
            Join our newsletter
          </h3>

          <form class="mc-ajax mc-form subscribe-form" _lpchecked="1">
            <!-- Email -->
            <input
              type="email"
              name="EMAIL"
              placeholder="Your email address"
              id="mc-email"
              class="wow fadeInUp"
              data-wow-delay=".1s"
              data-wow-duration="1s"
            />

            <!-- Send Button -->
            <input
              type="submit"
              name="subscribe"
              value="Join Us"
              class="btn btn-light btn-large wow fadeInUp mc-send-btn"
              data-wow-delay=".1s"
              data-wow-duration="1s"
            />

            <!-- Info (uncomment this for extra info) -->
            <!-- <label for="mc-email" class="mc-info"></label> -->

            <!-- Ajax message -->
            <div class="subscribe-result"></div>
          </form>
        </div>
        <!-- / .cta-wrapper -->
      </div>
      <!-- / .bg-overlay -->
    </div>
    <!-- / .cta-newsletter -->

    <!-- ========== Contact ========== -->

    <section class="section contact-1">
      <header class="sec-heading">
        <h2>Countact Us</h2>
        <span class="subheading">We love to hear from you</span>
      </header>

      <div class="contact-wrapper">
        <!-- Map -->
        <div id="map-canvas" class="gmap map-boxed"></div>

        <!-- Show Info Button -->
        <div class="show-info-link">
          <a href="#" class="show-info"
            ><i class="fa fa-info"></i>
            <h6>Show info</h6></a
          >
        </div>

        <div class="container">
          <div class="row ws-m">
            <!-- Address Info -->
            <div
              class="col-xs-offset-1 col-xs-11 col-md-offset-2 col-md-6 contact-info-wrapper"
            >
              <address>
                <div class="row">
                  <!-- Phone -->
                  <div class="col-sm-6 address-group">
                    <span>Phone</span>
                    <a href="#">+ 123 4567 890</a>
                    <a href="#">+ 123 7654 098</a>
                  </div>

                  <!-- Address -->
                  <div class="col-sm-5 address-group">
                    <span>Address</span>
                    <p>1200 some street, il, US</p>
                  </div>
                </div>
                <!-- / .row -->

                <div class="row">
                  <!-- Email -->
                  <div class="col-sm-6 address-group">
                    <span>Email</span>
                    <a href="mailto:sayhello@email.com">sayhello@email.com</a>
                  </div>

                  <!-- Hours -->
                  <div class="col-sm-5 address-group">
                    <span>Open Hours</span>
                    <p>Mon-Fri: 9am-5pm</p>
                    <p>Sat: 10am-1pm</p>
                  </div>
                </div>
                <!-- / .row -->

                <!-- Show Map Button -->
                <div class="row show-map-link">
                  <a href="#" class="show-map"
                    ><span class="icon-map-pin"></span>Show on map</a
                  >
                </div>
                <!-- / .row -->
              </address>
            </div>
            <!-- / .contact-info-wrapper -->
          </div>
          <!-- / .row -->

          <!-- Contact Form -->
          <div class="row">
            <form
              action="assets/contact-form/contact-form.php"
              method="POST"
              id="contact-form-1"
              class="form-ajax"
            >
              <div
                class="col-md-offset-2 col-md-4 wow fadeInUp"
                data-wow-duration="1s"
              >
                <!-- Name -->
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    id="name-contact-1"
                    class="form-control validate-locally"
                    placeholder="Enter your name"
                  />
                  <label for="name-contact-1">Name</label>
                  <span class="pull-right alert-error"></span>
                </div>

                <!-- Email -->
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    id="email-contact-1"
                    class="form-control validate-locally"
                    placeholder="Enter your email"
                  />
                  <label for="email-contact-1">Email</label>
                  <span class="pull-right alert-error"></span>
                </div>
              </div>

              <div class="col-md-4 wow fadeInUp" data-wow-duration="1s">
                <!-- Message -->
                <div class="form-group">
                  <textarea
                    name="message"
                    id="message-contact-1"
                    class="form-control"
                    rows="5"
                    placeholder="Your Message"
                  ></textarea>
                  <label for="message-contact-1">Message</label>
                </div>
                <div>
                  <input
                    type="submit"
                    class="btn pull-right"
                    value="Send Message"
                  />
                </div>

                <!-- Ajax Message -->
                <div class="ajax-message col-md-12 no-gap"></div>
              </div>
              <!-- / .col-md-4 -->
            </form>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .container -->
      </div>
      <!-- / .contact-wrapper -->
    </section>
    <!-- / .contact-1 -->

    <!-- ========== Footer Widgets ========== -->

    <footer class="footer-widgets">
      <div class="container">
        <div class="row section">
          <!-- About Us -->
          <div class="col-md-3 col-sm-6 mb-sm-100">
            <div class="widget about-widget">
              <h5 class="header-widget">About Us</h5>
              <p>
                Lorem ipsum dolor sit amet, eiusmod consectetur adipisicing
                elit, sed do tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis.
              </p>

              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                </li>
              </ul>
            </div>
            <!-- / .widget -->
          </div>
          <!-- / .col-md-3 -->

          <!-- Instagram Feed -->
          <div class="col-md-3 col-sm-6 mb-sm-100">
            <div class="widget gallery-widget">
              <h5 class="header-widget">Instagram Feed</h5>
              <ul>
                <li>
                  <a
                    href="http://placehold.it/650x450"
                    class="gallery-widget-lightbox"
                    ><img
                      src="http://placehold.it/87x87/999/eee"
                      alt="Instagram Image" />
                    <div class="hover-link">
                      <span class="linea-arrows-plus"></span></div
                  ></a>
                </li>

                <li>
                  <a
                    href="http://placehold.it/650x450"
                    class="gallery-widget-lightbox"
                    ><img
                      src="http://placehold.it/87x87"
                      alt="Instagram Image" />
                    <div class="hover-link">
                      <span class="linea-arrows-plus"></span></div
                  ></a>
                </li>

                <li>
                  <a
                    href="http://placehold.it/650x450"
                    class="gallery-widget-lightbox"
                    ><img
                      src="http://placehold.it/87x87/999/eee"
                      alt="Instagram Image" />
                    <div class="hover-link">
                      <span class="linea-arrows-plus"></span></div
                  ></a>
                </li>

                <li>
                  <a
                    href="http://placehold.it/650x450"
                    class="gallery-widget-lightbox"
                    ><img
                      src="http://placehold.it/87x87"
                      alt="Instagram Image" />
                    <div class="hover-link">
                      <span class="linea-arrows-plus"></span></div
                  ></a>
                </li>

                <li>
                  <a
                    href="http://placehold.it/650x450"
                    class="gallery-widget-lightbox"
                    ><img
                      src="http://placehold.it/87x87/999/eee"
                      alt="Instagram Image" />
                    <div class="hover-link">
                      <span class="linea-arrows-plus"></span></div
                  ></a>
                </li>

                <li>
                  <a
                    href="http://placehold.it/650x450"
                    class="gallery-widget-lightbox"
                    ><img
                      src="http://placehold.it/87x87"
                      alt="Instagram Image" />
                    <div class="hover-link">
                      <span class="linea-arrows-plus"></span></div
                  ></a>
                </li>
              </ul>
            </div>
            <!-- / .widget -->
          </div>
          <!-- / .col-md-3 -->

          <!-- Twitter Feed -->
          <div class="col-md-3 col-sm-6 mb-sm-100">
            <div class="widget twitter-widget">
              <h5 class="header-widget">Twitter Feed</h5>
              <ul>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <p>
                    5 Reasons You Should Take a Sabbatical from Creative Work
                    <a href="#">http://enva.to/NTa6F</a> by
                    <a href="#">@envato</a> <span>- AUG 10</span>
                  </p>
                </li>

                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <p>
                    What is the enemy of <a href="#">#creativity</a>?
                    <a href="#">http://enva.to/hVl5G</a> [VIDEO] <br />by
                    <a href="#">@envato</a> <span>- AUG 5</span>
                  </p>
                </li>
              </ul>
            </div>
            <!-- / .widget -->
          </div>
          <!-- / .col-md-3 -->

          <!-- Newsletter -->
          <div class="col-md-3 col-sm-6">
            <div class="widget newsletter-widget">
              <h5 class="header-widget">Newsletter</h5>

              <form class="mc-form subscribe-form" _lpchecked="1">
                <div class="form-group">
                  <!-- Email -->
                  <input
                    type="email"
                    name="EMAIL"
                    placeholder="Join our newsletter"
                  />

                  <!-- Send Button -->
                  <button type="submit" name="subscribe" class="mc-send-btn">
                    <i class="fa fa-send-o"></i>
                  </button>
                </div>

                <!-- Ajax message -->
                <div class="subscribe-result"></div>
              </form>
            </div>
            <!-- / .widget -->
          </div>
          <!-- / .col-md-3 -->
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->

      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <small
                >&copy; 2015 Definity. Made by
                <a
                  class="no-style-link"
                  href="http://themeforest.net/user/octarinethemes"
                  target="_blank"
                  >OctarineThemes</a
                ></small
              >
            </div>

            <div class="col-sm-6">
              <small
                ><a href="#page-top" class="pull-right to-the-top"
                  >To the top<i class="fa fa-angle-up"></i></a
              ></small>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .container -->
      </div>
      <!-- / .copyright -->
    </footer>
    <!-- / .footer-widgets -->

    <!-- ========== Scripts ========== -->

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/vendor/google-fonts.js"></script>
    <script src="assets/js/vendor/jquery.easing.js"></script>
    <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/bootstrap-hover-dropdown.min.js"></script>
    <script src="assets/js/vendor/smoothscroll.js"></script>
    <script src="assets/js/vendor/jquery.localScroll.min.js"></script>
    <script src="assets/js/vendor/jquery.scrollTo.min.js"></script>
    <script src="assets/js/vendor/jquery.stellar.min.js"></script>
    <script src="assets/js/vendor/jquery.parallax.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery.easypiechart.min.js"></script>
    <script src="assets/js/vendor/countup.min.js"></script>
    <script src="assets/js/vendor/isotope.min.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/vendor/jquery.ajaxchimp.js"></script>

    <!-- Google Maps -->
    <script src="assets/js/gmap.js"></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"
    ></script>

    <!-- Definity JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
